{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/kbd.css">
    <link rel="stylesheet" href="/static/css/date.css">
    <script src="/static/js/cssworld.ru-xcal.js"></script>
    <script src="/static/js/anychart-bundle.min.js"></script>
    <script src="/static/js/queries.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/tmpl/dashboard.js"></script>
{% endblock %}

{% block content %}
      <nav class="col-12 navbar bar">
        <div class="navbar-toggler" id="head">ИТА "СЕВЕРНАЯ КОМПАНИЯ"</div>
          <div class="row" style="vertical-align: middle;">
          <div class="col-4" style="padding-right: 0; margin-right: -5px;">
            <span id="basic-addon1" class="input-group-text">Выбор даты</span>
          </div>
          <div class="col-8" style="padding-left: 0;">
            <input class="form-control" id="date" type="text" aria-describedby="basic-addon1" onClick="xCal(this)" onKeyUp="xCal();" autocomplete="off">
          </div>
        </div>
        <button onclick="window.location.href='/report/worktime/'" class="btn btn-warning my-2 my-sm-0" style="margin: 0 1%;">Время работы</button>
        <button onclick="window.location.href='/plan'" class="btn btn-warning my-2 my-sm-0" style="margin: 0 1%;">План/Факт</button>
        <button onclick="window.location.href='/prods_list'" class="btn btn-warning my-2 my-sm-0" style="margin: 0 1%;">Взвешивания</button>
      </nav>

  <div class="container-fluid max">
    <div class="row fill">
      <div class="col-6 g0 fill" style="text-align: center;">
        <div class="row graf_container" id="graf_weigh1"></div>
        <div class="row graf_container" id="graf_weigh2"></div>
        <div class="row graf_container" id="graf_weigh5"></div>
      </div>

      <div class="col-6 g1">
        <div class="row dashboard_cards">
          <div class="dashboard_card" id="card_weigh1"></div>
          <div class="dashboard_card" id="card_weigh2"></div>
          <div class="dashboard_card" id="card_weigh5"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

