{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/date.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.css"> 
    <link rel="stylesheet" href="/static/css/kbd.css">
    <script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>
    <script src="/static/js/cssworld.ru-xcal.js"></script>
    <script src="/static/tmpl/plan.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="height: 100%;background-color:lightgray">
    <header class="header">
        <div class="header-wrap">
            <div class="header-item">
                <nav class="navigation">
                    <a href="/dashboard/" class="btn btn-prev"><span class="icon-arrow"></span></a>
                </nav>
                <div class="title-header">План/Факт</div>
            </div>
        </div>
    </header>

    <div class="row" style="vertical-align: middle;">
        <div class="input-group m-3 col-2" >
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата:</span>
            </div>
            <input id="date" type="text" class="form-control" aria-describedby="basic-addon1" onClick="xCal(this)" onKeyUp="xCal()" onChange="main()">

        </div>
        <div class="input-group m-3 col-2" >
            <select id="workshop" class="form-select" aria-label="Default select example">
                <option value="weigh1">Цех упаковка</option>
                <option value="weigh2">Цех ломтики</option>
                <option value="weigh5">Цех шокфрост</option>
            </select>
            <span class="btn btn-primary" onClick="main()" id="btn_load">Показать</span>
        </div>   
    </div>
    <br>
    <table class="table table-striped" id="table"></table>

</div>

{% endblock %}