{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/date.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.css"> 
    <link rel="stylesheet" href="/static/css/kbd.css">
    <script src="/static/js/cssworld.ru-xcal.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/tmpl/report_worktime.js"></script>
    <script src="/static/js/queries.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="height: 100%;background-color:lightgray">
    <header class="header">
        <div class="header-wrap">
            <div class="header-item">
                <nav class="navigation">
                    <a href="/dashboard/" class="btn btn-prev"><span class="icon-arrow"></span></a>
                </nav>
                <div class="title-header">Время работы комплексов</div>
            </div>
        </div>
    </header>
    <br>

    <div class="row" style="vertical-align: middle;">        
        <div class="input-group m-3 col-2" >
            <select id="fs" class="form-select" aria-label="Default select example">
                <option value="weigh1">Упаковка</option>
                <option value="weigh2">Ломтики</option>
                <option value="weigh3">Упаковка - 2</option>
            </select>
        </div>
        <div class="input-group m-3 col-2" >
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Дата от:</span>
            </div>
            <input id="date1" type="text" class="form-control" aria-describedby="basic-addon1" onClick="xCal(this)" onKeyUp="xCal()">
        </div>
        <div class="input-group m-3 col-2" >
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Дата до:</span>
            </div>
            <input id="date2" type="text" class="form-control" aria-describedby="basic-addon1" onClick="xCal(this)" onKeyUp="xCal()">
        </div>
        <div class="input-group m-3 col-2" >            
            <div class="input-group-prepend">
                <span class="btn btn-primary" onClick="data_input()" id="basic-addon1">Показать</span>
              </div>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div id="count" class="worktime-totalvalues col-3"></div>
        <div id="worktime" class="worktime-totalvalues col-3"></div>
        <div id="performanse" class="worktime-totalvalues col-3"></div>
        <div id="percent_cnt_brak" class="worktime-totalvalues col-3"></div>
    </div>

    <table class="table table-striped" id="table"></table>
    <br>
</div>

{% endblock %}